@mixin toRem($property, $value) {
    #{$property}: ($value / 16) + rem;
}


@mixin defaultLaOut {
	width:100%;
	min-width:1240px;
	margin:0 auto;
}

@mixin inner {
	width:1240px;
	margin:0 auto;
}

@mixin fullWidth {
	width:1440px;
	margin:0 auto;
}

@mixin clear {
	content:'';
	display:block;
	clear:both;
}
@mixin fontSet( $size,$color ) {
	font-size:$size;
	color:$color;
}

@mixin position($position,$top:null,$right:null,$bottom:null,$left:null) {
	position:$position;
	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
}

@mixin pImg( $padding ) {
	padding:$padding;
}
@mixin mImg( $margin ) {
	margin: $margin;
}

@mixin setWidth( $width ){
	width: $width;
}

